body {
    margin: 0;
    padding: 0;
    background-image: url("http://68.media.tumblr.com/tumblr_m7fjuj7ibD1r3ey0ao1_500.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-size: 40px;
    padding: 1%;
    background: #2bff04;
    border: none;
    font-weight: bold;
    color: #212020;
    letter-spacing: 3.5px;
}

ul {
    font-size: 40px;
    padding: 0;
    list-style-type: none;
    margin: 10px 0;
}

li {
    width: 65%;
    height: 60px;
    /*border: 1px solid black;*/
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

li:hover {
    background: #2bff04;
    cursor: pointer;
    border: 1px solid white;
}

li:hover span {
    color: black;
}

span {
    position: absolute;
    top: 15%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

button:hover {
    cursor: pointer;
}

.main_header {
    text-align: center;
    font-size: 60px;
    color: #2bff04;
    border-bottom: 1px solid;
}

.game_description {
    font-size: 20px;
    text-align: center;
    color: #2bff04;
}

.start_box {
    text-align: center;
}

.ul_container {
    text-align: center;
}

.hideElement {
    display: none;
}

.random_question {
    margin-top: 10px;
    text-align: center;
    font-size: 32px;
    padding: 0 5%;
    display: none;
    color: #2bff04;
}

.timer_number {
    margin: 10px auto;
    display: none;
    color: yellow;
    font-size: 30px;
    text-align: center;
}

.end_game_results {
    display: none;
    text-align: center;
}

.restart_button_box {
    text-align: center;
}

.revealElement {
    display: block;
}

.container_box {
    width: 800px;
    /*border: 1px solid red;*/
    margin: 2% auto;
    background: #212020;
    opacity: 0.5;
    box-shadow: 5px 5px 16px #000000;
}

.container_box:hover {
    opacity: 1.0;
}

.revealGif {
    display: initial;
}

#restart_button {
    display: none;
}

#right_answer,
#wrong_answer {
    color: yellow;
    font-size: 30px;
}

@media (max-width: 950px) {
    ul {
        font-size: 33px;
    }
    li {
        height: 55px;
    }
    span {
        white-space: nowrap;
    }
    li:focus {
        background: #2bff04;
    }
    .container_box {
        width: 600px;
        opacity: 0.8;
    }
    .timer_number {
        font-size: 27px;
        margin: 10px auto;
    }
}

@media (max-width: 630px) {
    button {
        font-size: 35px
    }
    li {
        height: 51px;
    }
    .container_box {
        width: 100%;
    }
    .main_header {
        font-size: 45px;
    }
    .random_question {
        font-size: 35px;
    }
}

@media (max-width: 450px) {
    button {
        font-size: 20px;
    }
    li {
        height: 55px;
    }
    span {
        top: 15%;
    }
    ul {
        font-size: 22px;
    }
    .timer_number {
        font-size: 25px;
    }
    .main_header {
        font-size: 220%;
    }
    .random_question {
        font-size: 27px;
    }
    .game_description {
        font-size: 16px;
    }
}

@media (max-width: 350px) {
    li {
        height: 41px;
    }
    ul {
        font-size: 16px;
    }
    .timer_number {
        font-size: 20px;
    }
    .random_question {
        font-size: 20px;
    }
    #right_answer,
    #wrong_answer {
        font-size: 25px;
    }
}
